@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:Poppins;
}

body {
  color: rgb(var(--foreground-rgb));
  background:linear-gradient(to bottom right , #984D38, #181E41);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}



.purple-text-gradient {
  color: linear-gradient(#B75CFF, #671AE4);
  background: linear-gradient(#B75CFF, #671AE4);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
} 
.purple-button-gradient {
  color: linear-gradient(#B75CFF, #671AE4);
  background: linear-gradient(#B75CFF, #671AE4);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}


